
/* #region Common */

    :root {
        --ms_lightgrey: #f8f9fa; /* bg header */
        --ms_white: white;
    }

    header {
        height: 70px;
        background-color: var(--ms_lightgrey);
    }

    main {
        height: calc(100vh - 70px);
    }

    .sidebar {
        height: 100%;
        background-image: url(../img/sidebar-bg.png);
        background-position: center;
    }

    .dashboard {
        height: 100%;
        overflow-y: auto;
        background-color: var(--ms_lightgrey);
    }

/* #endregion Common */


/* #region Debug */

    .debug main {
        background-color: lightpink;
    }

/* #endregion Debug */


/* #region Header */

    nav .logo_mobile {
        width: 40%;
        max-width: 40px;
    }

    nav .logo {
        width: 80%;
        max-width: 120px;
    }

/* #endregion Header */